/*!
 *
 *
 * - Neil Carpenter V1
 * - work.css
 * - author: Neil Carpenter (@neilcarpenter)
 * - for development code, remove '.min' from URL
 *
 *
 */

/*
 * - DEVELOPMENT CODE
 */
   
@charset "UTF-8";

   /*
	*
	* 	WORK STYLES 
	*
	*	- override main.css
	*	- general (patterns)
	*	- layout
	*	- project nav
	*	- sharers
	*	- text-skinny
	*	- text-not-so-skinny
	*	- images
	*	- demos
	*	- photoswipe
	*	- media queries (width)
	*	- media queries (pixel density)
	*
	*/
	

/****	OVERRIDE MAIN.CSS	****/
#content {
	margin: 0 0 80px;
}
/****	GENERAL		****/
.pattern {
	display: block;
	width: 100%;
	height: 58px;
	background: url(../i/atkm-pattern.jpg) repeat 100% center;
	margin: 100px 0 30px;
	padding: 0;
	-webkit-transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
	   -moz-transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
	    -ms-transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
		 -o-transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000);
			transition: all .5s cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}
.pattern-gf {
	background-image: url(../i/gf-pattern.jpg);
}
.pattern-ikings {
	background-image: url(../i/ikings-pattern.jpg);
}
.pattern-rkcl {
	background-image: url(../i/rkcl-pattern.jpg);
}
.pattern-fresh {
	background-image: url(../i/fresh-pattern.jpg);
}
.pattern-kfb {
	background-image: url(../i/kfb-pattern.jpg);
}
.pattern-ella {
	background-image: url(../i/ella-pattern.jpg);
}
.pattern-closed {
	width: 0;
}
.no-js .pattern-closed {
	width: 100%;
}
/****	LAYOUT		****/
#top-content {
	display: block;
	margin: 0 0 30px;
}
.top-module {
	height: 100%;
}
#skinny, 
#not-so-skinny {
	width: 33%;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
#top-image, 
#main-images {
	width: 65%;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
#skinny, 
#main-images {
	float: right;
}
#not-so-skinny, 
#top-image {
	float: left;
}
/****	PROJECT NAV		****/
.project-nav-holder {
	width: 33%;
	float: left;
	margin: 30px 0 0;
}
.project-nav-holder a {
	position: relative;
	display: block;
	height: 50px;
	width: 50px;
	background: url(../i/arrows.png) no-repeat;
	opacity: 0.8;
	border: none;
}
.project-nav-holder a span {
	position: absolute;
	opacity: 0;
	color: #555;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
.project-nav-holder .prev-project {
	float: left;
	background-position: bottom left;
}
.project-nav-holder .next-project {
	float: right;
}
.project-nav-holder .prev-project span {
	left: 10px;
	text-align: right;
	padding: 0 0 0 20px;
}
.project-nav-holder .next-project span {
	right: 10px;
	padding: 0 20px 0 0;
}
.project-nav-holder a:hover {
	opacity: 1;
}
.project-nav-holder a:hover span {
	opacity: 1;
}
.project-nav-holder .prev-project:hover span {
	left: 40px;
}
.project-nav-holder .next-project:hover span {
	right: 40px;
}
header .project-nav {
	display: none;
	width: auto;
	float: left;
	position: relative;
	margin: 5px 20px;
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
			border-radius: 30px;
	background: rgba(85, 85, 85, 0.2);
}
.current-project {
	width: 100%;
	display: inline;
	padding: 14px 80px;
	margin: 0;
	float: left;
 	font: normal 32px/32px "Bistro-Script-Web", Helvetica, sans-serif;
	text-align: center;
	color: #fff;
	color: rgba(255,255,255,0.9);
	opacity: 0.9;
}
header .prev-project span, 
header .next-project span {
	position: absolute;
	top: 5px;
	background: url(../i/arrows.png) no-repeat;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	   -moz-border-radius: 25px;
			border-radius: 25px;
	text-indent: -9999px;
	z-index: 1;
	opacity: 0.5;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
header .prev-project span {
	left: 5px;
	background-position: bottom left;
}
header .next-project span {
	right: 5px;
}
header .prev-project span:hover, 
header .next-project  span:hover {
	opacity: 1;
}
header.fixed .project-nav {
	display: block;
}

/****	SHARERS		****/
.no-js .sharers {
	display: none;
}
.sharers {
	width: 33%;
	height: 115px;
	float: left;
	margin: 30px 0 0;
	position: relative;
	overflow: hidden !important;
}
.sharers-buttons {
	width: 100%;
	height: 50px;
	float: left;
}
.sharers-buttons {
	opacity: 0;
}
.twitter-share-button, 
.fb-like, 
#___plusone_0 {
	width: 33% !important;
	float: left;
}
.twitter-share-button {
	margin-top: 12px;
}
.fb-like, 
#___plusone_0 {
	margin-top: 10px !important;
}
.sharers-image {
	margin-top: -40px;
	position: relative;
	float: left;
	height: 40px;
	width: 33%;
	background: url(../i/contact-icons.png) no-repeat center -5px;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
	cursor: pointer;
}
.sharers-image:hover {
	opacity: 0.5;
}
.sharers-image:before, 
.sharers-image:after {
	content: '';
	display: block;
	width: 100%;
	height: 40px;
	position: absolute;
	background: url(../i/contact-icons.png) no-repeat;
}
.sharers-image:before {
	left: 100%;
	background-position: center -125px;
}
.sharers-image:after {
	left: 200%;
	background-position: center -243px;
}

/****	TEXT		****/
/* skinny */
#skinny h1 {
	font: normal 40px/40px "Bistro-Script-Web", Helvetica, sans-serif;
	color: rgba(85,85,85,0.9);
	margin: 20px 0;
	text-align: center;
	text-shadow: 1px 0 0 rgba(255,255,255,0.5);
}
.visit-site,
.tablet-demo,
.smartphone-demo,
#slideshow {
	display: block;
	position: relative;
	width: 100%;
	padding: 15px 50px 15px 15px;
	margin: 0 0 6px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	border-bottom: none;
	text-transform: uppercase;
	text-decoration: none;
	font: normal 12px/14px "ff-basic-gothic-web-pro", Arial, Helvetica, sans-serif;
	letter-spacing: 7px;
	color: rgba(0,0,0,0.8);
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	background: rgba(85,85,85,0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	-webkit-box-shadow:  0 2px 0 rgba(0,0,0,0.5);
	   -moz-box-shadow:  0 2px 0 rgba(0,0,0,0.5);
			box-shadow:  0 2px 0 rgba(0,0,0,0.5);
}
.visit-site:hover, 
.tablet-demo:hover, 
.smartphone-demo:hover, 
#slideshow:hover {
	border-bottom: none;
	background: rgba(85,85,85,0.2);
}
.visit-site:focus,
.tablet-demo:focus,
.smartphone-demo:focus,
#slideshow:focus {
	outline: none;
}
#slideshow {
	border-top: 1px solid #ff9696;
	background: #a84646;
	background: -webkit-gradient(linear, left top, left bottom, from(#e07979), to(#a84646));
	background: -webkit-linear-gradient(top, #e07979, #a84646);
	background: -moz-linear-gradient(top, #e07979, #a84646);
	background: -ms-linear-gradient(top, #e07979, #a84646);
	background: -o-linear-gradient(top, #e07979, #a84646);
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
			box-shadow: rgba(0,0,0,1) 0 1px 0;
}
.visit-site:active, 
.tablet-demo:active, 
.smartphone-demo:active, 
#slideshow:active {
	top: 2px;
	border-top-color: rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
	   -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
			box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
		 -o-transition: none;
			transition: none;
}
.visit-site:before, 
.tablet-demo:before, 
.smartphone-demo:before, 
#slideshow:before {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 12px;
	font: normal 20px/20px 'NeilCarpenterV1';
	text-transform: none;
	text-align: center;
}
.visit-site:before {
	content: 'e';
}
.smartphone-demo:before {
	content: '/';
}
.tablet-demo:before {
	content: '\\';/*!
 * safari doesn't recognise this without a link break
 */
}
/* hide demo buttons on touch devices, doesn't work on 
ipad anyway, maybe try again on other devices */
.touch .smartphone-demo,
.touch .tablet-demo {
	display: none;
}

/* not-so-skinny */
#not-so-skinny .section-heading {
	float: none;
}
#not-so-skinny a {
	text-decoration: none;
}
#not-so-skinny a:focus {
	outline: none;
}
#not-so-skinny h3 {
	color: #555;
	font-size: 24px;
	line-height: 22px;
	font-weight: normal;
	position: relative;
	margin: 0;
	padding: 10px 40px 10px 10px;
	display: block;
	background: rgba(85,85,85,0.1);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
			border-radius: 20px;
	border: 1px solid rgba(85,85,85,0.2);
	border-bottom: none;
	-webkit-transition: border-radius .5s ease-out, color .3s ease-out, background-color .3s ease-out;
	   -moz-transition: border-radius .5s ease-out, color .3s ease-out, background-color .3s ease-out;
	    -ms-transition: border-radius .5s ease-out, color .3s ease-out, background-color .3s ease-out;
		 -o-transition: border-radius .5s ease-out, color .3s ease-out, background-color .3s ease-out;
			transition: border-radius .5s ease-out, color .3s ease-out, background-color .3s ease-out;
}
#not-so-skinny h3 span {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	font: normal 22px/24px 'NeilCarpenterV1';
	text-align: center;
}
#not-so-skinny a.open h3 {
	color: rgba(85,85,85,1);
	text-shadow: 1px 0 0 rgba(255,255,255,0.3);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
	border-top: 0;
	top: 3px;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
	-webkit-transition: border-radius .5s ease-out;
	   -moz-transition: border-radius .5s ease-out;
	    -ms-transition: border-radius .5s ease-out;
		 -o-transition: border-radius .5s ease-out;
			transition: border-radius .5s ease-out;
}
#not-so-skinny a h3:hover {
	color: #771717;
	background: rgba(183,47,47,0.1);
}
#not-so-skinny a.open h3:hover {
	color: rgba(85,85,85,1);
	background: rgba(85,85,85,0.1);
}
#not-so-skinny a h3:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid rgba(85,85,85,0.2);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
			border-radius: 20px;
	z-index: -1;
	-webkit-box-shadow: 0 2px 0 0 rgba(85,85,85,1);			
	   -moz-box-shadow: 0 2px 0 0 rgba(85,85,85,1);			
			box-shadow: 0 2px 0 0 rgba(85,85,85,1);			
}
#not-so-skinny a.open h3:before {
	background: rgba(85,85,85,0.2);
	-webkit-box-shadow: inset 0 2px 3px 0 rgba(85,85,85,1);
	   -moz-box-shadow: inset 0 2px 3px 0 rgba(85,85,85,1);
			box-shadow: inset 0 2px 3px 0 rgba(85,85,85,1);
	border-bottom: 1px solid rgba(85,85,85,0.3);		
}
.slider-holder {
	margin: 0 0 10px;
}
.outcome.slider-holder {
	margin: 0;
}
#not-so-skinny p {
	margin: 3px 0 0;
	padding: 10px;
	background: rgba(85,85,85,0.1);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 1px solid rgba(85,85,85,0.2);
	border-top: none;
}


/****	IMAGES		****/
#top-image img, 
#main-images img {
	width: 100%;
	border: 10px solid rgba(85, 85, 85, 0.2);
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
}
/* TO BE USED WITH BG IMAGE APPROACH
.top-image-holder {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../i/proj-atkm-2-LARGE.jpg) no-repeat center center;
	border: 10px solid rgba(191, 191, 191, 1);
	border-radius: 5px;
	background-size: cover;
}
*/
#main-images ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#main-images li {
	position: relative;
}
/* this is to stop being able to click on images and open gallery */
#main-images li:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: none;
}
#main-images img {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
	border-top: 0;
}
#main-images li:first-child img {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border: 10px solid rgba(85, 85, 85, 0.2);
}
#main-images li:last-child img {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#main-images a {
	cursor: default;
	border: none;
	background: none;
}
/* slideshow button */
#slideshow {
	display: none;
	margin: 10px 0 0;
}
#slideshow:before {
	content: '|';
}
#slideshow img {
	display: none !important;
}

/****	DEMOs		****/
.demo-on {
	width: auto;
	overflow: hidden;
	margin: 0 10px 0 0;
}
.demo-on #main-nav {
	right: 8px;
	-webkit-transition: none;
	   -moz-transition: none;
		-ms-transition: none;
	 	 -o-transition: none;
			transition: none;
}
#container {
	-webkit-transition: all 1s cubic-bezier(0.470, 0.000, 0.745, 0.715); /* easeInSine */
}
.demo-on #container {
	/* browsers can't handle this yet! */
	-webkit-filter: blur(2px) grayscale(0.5);
}
#demo-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 3000;
	background: rgba(85,85,85,0.9);
	background: -moz-radial-gradient(center, ellipse cover, rgba(85,85,85,0.3) 0%, rgba(61,61,61,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(85,85,85,0.3)), color-stop(100%,rgba(61,61,61,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(85,85,85,0.3) 0%,rgba(61,61,61,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(85,85,85,0.3) 0%,rgba(61,61,61,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(85,85,85,0.3) 0%,rgba(61,61,61,1) 100%); /* IE10+ */
}
#loading.demo {
	position: fixed;
	top: 30%;
	margin-top: 0;
	color: rgba(255,255,255,0.9);
}
.demo .outer {
	background: rgba(255,255,255,0.3);
}
.demo .inner {
	background: rgba(255,255,255,0.4);
}
.loading #close-demo {
	width: 10%;
	margin: 154px 45% 0;
	padding: 10px 0;
	top: 30%;
	right: 0;
	left: 0;
	background: rgba(255,255,255,0.4);
	border: 1px solid rgba(255,255,255,0.6);
	-webkit-border-radius: 22px;
	   -moz-border-radius: 22px;
			border-radius: 22px;
	text-transform: none;
	font: normal 19px/23px "cronos-pro-display", helvetica, arial, sans-serif;
	letter-spacing: 0;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}
#close-demo {
	position: fixed;
	top: 10%;
	left: 70%;
	width: 120px;
	margin: 0;
	padding: 53px 0 50px 6px;
	-webkit-border-radius: 62px;
	   -moz-border-radius: 62px;
			border-radius: 62px;
	color: #771717;
	text-align: center;
	text-decoration: none;
	background: rgba(255,255,255,0.6);
	border: 1px solid rgba(255,255,255,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
	z-index: 1;
	text-transform: uppercase;
	font: normal 12px/14px "ff-basic-gothic-web-pro", Arial, Helvetica, sans-serif;
	letter-spacing: 7px;
	-webkit-box-shadow: 15px 15px 20px rgba(0,0,0,0.4);
	   -moz-box-shadow: 15px 15px 20px rgba(0,0,0,0.4);
			box-shadow: 15px 15px 20px rgba(0,0,0,0.4);
}
#close-demo:hover {
	background: rgba(255,255,255,0.9);
	border-color: rgba(255,255,255,1);
}
/* shared */
#smartphone,
#tablet {
	display: block;
	position: relative;
	text-align: center;
	margin: 0 auto;
}
#smartphone img,
#tablet img {
	position: absolute;
}
#smartphone .iphone-img,
#tablet .ipad-img {
	z-index: -1;
}
#smartphone iframe,
#tablet iframe {
	border: none;
	background: #fff;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
		-ms-transition: all .3s ease-out;
		 -o-transition: all .3s ease-out;
			transition: all .3s ease-out;
	visibility: hidden;
}
#smartphone.ready iframe,
#tablet.ready iframe {
	visibility: visible;
}
#smartphone.hide-iframe iframe,
#tablet.hide-iframe iframe {
	visibility: hidden;
}
.demo-closing #smartphone iframe,
.demo-closing #tablet iframe {
	-webkit-transform: scale(0);
}
#smartphone .screen-bg,
#tablet .screen-bg {
	display: block;
	background: #fff;
	position: absolute;
	z-index: -1;
}
#smartphone.load-complete .screen-bg,
#tablet.load-complete .screen-bg {
	background: #262626;
	-webkit-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.3);
			box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.3);
}
#smartphone .screen-title,
#tablet .screen-title {
	position: absolute;
	text-align: center;
	font: bold 14px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #3c4651;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}
#smartphone .screen-url-bg,
#tablet .screen-url-bg {
	position: absolute;
	background: #fff;
	z-index: -3;
}
#smartphone .screen-loading,
#tablet .screen-loading {
	position: absolute;
	background: rgba(0,0,0,0.1);
	z-index: -2;
	background: -moz-linear-gradient(top, rgba(111,182,237,1) 0%, rgba(67,170,242,1) 50%, rgba(28,150,240,1) 51%, rgba(61,197,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,182,237,1)), color-stop(50%,rgba(67,170,242,1)), color-stop(51%,rgba(28,150,240,1)), color-stop(100%,rgba(61,197,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(111,182,237,1) 0%,rgba(67,170,242,1) 50%,rgba(28,150,240,1) 51%,rgba(61,197,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(111,182,237,1) 0%,rgba(67,170,242,1) 50%,rgba(28,150,240,1) 51%,rgba(61,197,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(111,182,237,1) 0%,rgba(67,170,242,1) 50%,rgba(28,150,240,1) 51%,rgba(61,197,237,1) 100%); /* IE10+ */
}
#smartphone .screen-url,
#tablet .screen-url {
	position: absolute;
	overflow: hidden;
	font: normal 15px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #666666;
	text-align: left;
}
#smartphone .screen-url:before,
#tablet .screen-url:before {
	content: '';
	display: block;
	width: 34px;
	height: 24px;
	background: url(../i/url-field-grad.png) no-repeat top center;
	position: absolute;
	right: 0;
}
#smartphone.ready .screen-url:before,
#tablet.ready .screen-url:before {
	background-position: bottom center;
}
#smartphone.load-complete .screen-url:before,
#tablet.load-complete .screen-url:before {
	background-position: top center;
}
.no-cssanimations #smartphone.ready .screen-url:before,
.no-cssanimations #tablet.ready .screen-url:before {
	background-position: top center;
}
.demo-closing #close-demo {
	opacity: 0;
}
/* smartphone */
#smartphone {
	top: 140%;
	width: 920px;
}
#smartphone {
	-webkit-transform: scale(0.8);
	   -moz-transform: scale(0.8);
		-ms-transform: scale(0.8);
		 -o-transform: scale(0.8);
			transform: scale(0.8);
}
@media (min-height: 800px) {
#smartphone {
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
		-ms-transform: scale(1);
		 -o-transform: scale(1);
			transform: scale(1);
}
}
#smartphone .iphone-img {
	left: 183px;
	top: -223px;
}
/* not used anymore
#smartphone .iphone-img-fingers {
	left: 177px;
	top: 118px;
}
*/
#smartphone .screen-bg {
	width: 332px;
	height: 376px;
	left: 294px;
}
#smartphone .screen-title {
	top: -61px;
	left: 294px;
	width: 332px;
}
#smartphone .screen-url-bg {
	top: -40px;
	left: 301px;
	width: 205px;
	height: 31px;
}
#smartphone .screen-loading {
	top: -42px;
	left: 299px;
	width: 0; /* going to 174px */
	height: 33px;
}
#smartphone .screen-url {
	top: -34px;
	left: 308px;
	width: 196px;
	height: 20px;
}
@-webkit-keyframes iphoneLoad {
	0%   {
		 	width: 0px; 
		 }
	50%   {
		 	width: 70px; 
		 }
	75%   {
		 	width: 150px; 
		 }
	100%   {
		 	width: 174px; 
		 }
}
@-moz-keyframes iphoneLoad {
	0%   {
		 	width: 0px; 
		 }
	50%   {
		 	width: 70px; 
		 }
	75%   {
		 	width: 150px; 
		 }
	100%   {
		 	width: 174px; 
		 }
}
@-ms-keyframes iphoneLoad {
	0%   {
		 	width: 0px; 
		 }
	50%   {
		 	width: 70px; 
		 }
	75%   {
		 	width: 150px; 
		 }
	100%   {
		 	width: 174px; 
		 }
}
@-o-keyframes iphoneLoad {
	0%   {
		 	width: 0px; 
		 }
	50%   {
		 	width: 70px; 
		 }
	75%   {
		 	width: 150px; 
		 }
	100%   {
		 	width: 174px; 
		 }
}
#smartphone.ready .screen-loading {
	-webkit-animation: iphoneLoad 2s 1;
	   -moz-animation: iphoneLoad 2s 1;
		-ms-animation: iphoneLoad 2s 1;
		 -o-animation: iphoneLoad 2s 1;
}
/* tablet */
#tablet {
	top: 130%;
	width: 1164px;
}
/* ADD CORRECT MQ HERE, NEED TO TEST ON LARGER SCREEN
@media (max-height: 800px) {
*/
#tablet {
	-webkit-transform: scale(0.75);
	   -moz-transform: scale(0.75);
		-ms-transform: scale(0.75);
		 -o-transform: scale(0.75);
			transform: scale(0.75);
}
/*
}
*/
#tablet .ipad-img {
	left: 92px;
	top: -193px;
}
#tablet .screen-bg {
	left: 205px;
	width: 752px;
	height: 925px;
}
#tablet .screen-title {
	top: -55px;
	left: 0;
	width: 1164px;
}
#tablet .screen-url-bg {
	top: -37px;
	left: 436px;
	width: 344px;
	height: 31px;
}
#tablet .screen-loading {
	top: -39px;
	left: 438px;
	width: 0; /* going to 310px */
	height: 33px;	
}
#tablet .screen-url {
	top: -32px;
	left: 446px;
	width: 309px;
	height: 20px;
}
@-webkit-keyframes ipadLoad {
	0%   {
		 	width: 50px; 
		 }
	50%   {
		 	width: 100px; 
		 }
	75%   {
		 	width: 220px; 
		 }
	85%   {
		 	width: 260px; 
		 }
	100%   {
		 	width: 286px; 
		 }
}
@-moz-keyframes ipadLoad {
	0%   {
		 	width: 50px; 
		 }
	50%   {
		 	width: 100px; 
		 }
	75%   {
		 	width: 220px; 
		 }
	85%   {
		 	width: 260px; 
		 }
	100%   {
		 	width: 286px; 
		 }
}
@-ms-keyframes ipadLoad {
	0%   {
		 	width: 50px; 
		 }
	50%   {
		 	width: 100px; 
		 }
	75%   {
		 	width: 220px; 
		 }
	85%   {
		 	width: 260px; 
		 }
	100%   {
		 	width: 286px; 
		 }
}
@-o-keyframes ipadLoad {
	0%   {
		 	width: 50px; 
		 }
	50%   {
		 	width: 100px; 
		 }
	75%   {
		 	width: 220px; 
		 }
	85%   {
		 	width: 260px; 
		 }
	100%   {
		 	width: 286px; 
		 }
}
#tablet.ready .screen-loading {
	-webkit-animation: ipadLoad 2s 1;
	   -moz-animation: ipadLoad 2s 1;
		-ms-animation: ipadLoad 2s 1;
		 -o-animation: ipadLoad 2s 1;
}
/* scrollbars for demos */
iframe::-webkit-scrollbar {
    width: 7px;
	height: 7px;
}
iframe::-webkit-scrollbar-track {
	background: transparent;
	-webkit-box-shadow: none;
			box-shadow: none;
}
iframe::-webkit-scrollbar-thumb {
	background: #555;
	-webkit-border-radius: 10px;
			border-radius: 10px;
}
/****	PHOTOSWIPE GENERIC STYLES		****/
/*
 * photoswipe.css
 * Copyright (c) %%year%% by Code Computerlove (http://www.codecomputerlove.com)
 * Licensed under the MIT license
 *
 * Default styles for PhotoSwipe
 * Avoid any position or dimension based styles
 * where possible, unless specified already here.
 * The gallery automatically works out gallery item
 * positions etc.
 */
body.ps-active, body.ps-building, div.ps-active, div.ps-building {
	background: #000;
	overflow: hidden;
}
body.ps-active *, div.ps-active * { 
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
	display: none;
}
body.ps-active *:focus, div.ps-active *:focus { 
	outline: 0; 
}
/* Document overlay */
div.ps-document-overlay {
	background: #000;
}
/* UILayer */
div.ps-uilayer { 	
	background: #000;
	cursor: pointer;
	
}
/* Zoom/pan/rotate layer */
div.ps-zoom-pan-rotate{
	background: #000;
}
div.ps-zoom-pan-rotate *  { display: block; }
/* Carousel */
div.ps-carousel-item-loading { 
	background: url(../i/loader.gif) no-repeat center center; 
}
div.ps-carousel-item-error { 
	background: url(../i/error.gif) no-repeat center center; 
}
/* Caption */
div.ps-caption { 
	background: #000000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-bottom: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
}
div.ps-caption *  { display: inline; }
div.ps-caption-bottom { 
	border-top: 1px solid #42403f;
	border-bottom: none;
	min-height: 44px;
}
div.ps-caption-content {
	padding: 13px;
	display: block;
}
/* Toolbar */
div.ps-toolbar { 
	background: #000;
	background: -moz-linear-gradient(top, #303130 0%, #000101 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303130), color-stop(100%,#000101));
	border-top: 1px solid #42403f;
	color: #ffffff;
	font-size: 13px;
	font-family: "Lucida Grande", Helvetica, Arial,Verdana, sans-serif;
	text-align: center;
	height: 44px;
	display: table;
	table-layout: fixed;
}
div.ps-toolbar * { 
	display: block;
}
div.ps-toolbar-top {
	border-bottom: 1px solid #42403f;
	border-top: none;
}
div.ps-toolbar-close, div.ps-toolbar-previous, div.ps-toolbar-next, div.ps-toolbar-play {
	cursor: pointer;
	display: table-cell;
}
div.ps-toolbar div div.ps-toolbar-content {
	width: 44px;
	height: 44px;
	margin: 0 auto 0;
	background-image: url(../i/icons.png);
	background-repeat: no-repeat;
}
div.ps-toolbar-close div.ps-toolbar-content {
	background-position: 0 0;
}
div.ps-toolbar-previous div.ps-toolbar-content {
	background-position: -44px 0;
}
div.ps-toolbar-previous-disabled div.ps-toolbar-content {
	background-position: -44px -44px;
}
div.ps-toolbar-next div.ps-toolbar-content {
	background-position: -132px 0;
}
div.ps-toolbar-next-disabled div.ps-toolbar-content {
	background-position: -132px -44px;
}
div.ps-toolbar-play div.ps-toolbar-content {
	background-position: -88px 0;
}

/****	MEDIA QUERIES		****/
@media (max-width: 1024px) {
.tablet-demo {
	display: none;
}
#top-content {
	margin: 0;
}
#skinny,
#top-image {
	margin: 0 0 20px;
}
.project-nav-holder, 
.sharers {
	margin: 20px 0 0;
}
#skinny, 
#not-so-skinny, 
#top-image, 
#main-images, 
.project-nav-holder {
	width: 48.8234187%; /* 414.96/849.92 */
}
.sharers,
.project-nav-holder {
	width: 100%;
}
.project-nav-holder .prev-project span {
	left: 40px;
	opacity: 0.8;
}
.project-nav-holder .next-project span {
	right: 40px;
	opacity: 0.8;
}
#top-image img, #main-images img, #main-images li:first-child img {
	border-width: 5px;
}
}
@media (max-width: 768px) {
.pattern {
	display: none;
}
#content {
	margin: 55px 0 80px;
}
#skinny,
#top-image {
	width: 100%;
	float: none;
	margin: 0 0 20px;
}
.visit-site {
	float: left;
}
.smartphone-demo {
	float: right;
}
.visit-site, 
.smartphone-demo, 
#not-so-skinny, 
#main-images {
	width: 48.5532407%; /* 335.6 / 691.2 */
}
#top-image img {
	display: block;
	margin: 0 auto;
	border-width: 10px;
}
#main-images img {
	border-width: 5px;
}
#slideshow, 
#slideshow:hover, 
.visit-site, 
.visit-site:hover {
	width: 100%;
	display: block;
	color: rgba(0,0,0,0.8);
	border-top: 1px solid #e6b1b1;
	background: #a64f4f;
	background: -webkit-gradient(linear, left top, left bottom, from(#cc8a8a), to(#a64f4f));
	background: -webkit-linear-gradient(top, #cc8a8a, #a64f4f);
	background: -moz-linear-gradient(top, #cc8a8a, #a64f4f);
	background: -ms-linear-gradient(top, #cc8a8a, #a64f4f);
	background: -o-linear-gradient(top, #cc8a8a, #a64f4f);
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
			box-shadow: rgba(0,0,0,1) 0 1px 0;
}
}
@media (max-width: 500px) {
#content {
	margin-top: 50px;
	margin-bottom: 60px;
}
.smartphone-demo, 
#main-images {
	display: none;
}
.visit-site, 
#not-so-skinny {
	float: none;
	width: 100%;
}
#top-image img {
	border-width: 5px;
}
}
@media (max-width: 319px) {
#content {
	margin-top: 0;
}
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-o-min-device-pixel-ratio: 3/2),
screen and (min-device-pixel-ratio: 1.5) {
.project-nav-holder a {
	background-image: url(../i/arrows@2.png);
	-webkit-background-size: 50px 100px;
	-moz-background-size: 50px 100px;
	background-size: 50px 100px;
}
.sharers-image, 
.sharers-image:before, 
.sharers-image:after {
	background-image: url(../i/contact-icons@2.png);
	-webkit-background-size: 40px 360px;
	-moz-background-size: 40px 360px;
	background-size: 40px 360px;
}
/* photoswipe */
div.ps-toolbar div div.ps-toolbar-content {
	background-image: url(../i/icons@2x.png);
	-webkit-background-size: 176px 88px;
	   -moz-background-size: 176px 88px;
		 -o-background-size: 176px 88px;
			background-size: 176px 88px;
}
}

/* just speculating what these should be, need to be calculated properly */
@media (max-width: 1200px) {
.tablet-demo {
	display: none;
}
}
@media (max-width: 900px) {
.smartphone-demo {
	display: none;
}
}
